/* Variables */
/* Mixins */
/**** Fonts including ***/
@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* Global */
.container {
  padding-right: 18px;
  padding-left: 18px;
  width: 100%;
  box-sizing: border-box;
}

body {
  color: #3F4043;
}

/* NAV */
.main-nav {
  display: flex;
  justify-content: space-between;
  background-color: #373c3f;
  position: relative;
}
.main-nav-logo {
  display: none;
}
.main-nav-heading {
  color: #fff;
  font-size: 12px;
  font-family: "Montserrat-Medium", sans-serif;
  padding-top: 12px;
}
.main-nav-burger {
  background-color: #202529;
  padding: 13px 12px 12px 13px;
}
.main-nav-burger-line {
  background-color: #fff;
  height: 2px;
  width: 16px;
  margin-bottom: 2px;
}
.main-nav-cross {
  display: none;
}
.main-nav-menu {
  position: absolute;
  right: 0;
  top: 37px;
  display: none;
}
.main-nav-menu-item {
  background-color: #fafafa;
  border-top: 1px solid #f3f3f3;
}
.main-nav-link {
  color: #444;
  font-family: "Lato-Regular", sans-serif;
  font-size: 12px;
  text-decoration: none;
  display: block;
  padding: 10px 96px 8px 13px;
}

.main-nav-burger:hover .main-nav-menu {
  display: block;
}

.main-nav-menu-item:first-child .main-nav-link {
  padding-top: 12px;
}

/* Header */
.header {
  background-image: url("../img/header-bg.jpeg");
  padding-top: 17px;
  padding-bottom: 94px;
}
.header-heading {
  color: #fff;
  font-family: "Lato-Bold", sans-serif;
  padding-left: 2px;
}
.header-sub-heading {
  color: #fff;
  font-family: "Lato-Bold", sans-serif;
  padding-top: 6px;
  padding-left: 2px;
}
.header-link {
  display: block;
  color: #A6D6E0;
  font-size: 14px;
  font-family: "Lato-Bold", sans-serif;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 2px;
}

/* Categories */
.categories {
  padding-top: 2px;
}

.category {
  width: calc(100% - 71px);
  margin-top: 2px;
}
.category-item {
  display: flex;
}
.category-heading {
  font-family: "Lato-Bold", sans-serif;
  font-size: 20px;
  color: #fff;
}
.category-pizza {
  background-image: url("../img/category-1.jpeg");
  background-position: -21px -233px;
}
.category-salads {
  background-image: url("../img/category-2.jpeg");
  background-position: 0 -165px;
}
.category-desserts {
  background-image: url("../img/category-3.jpeg");
  background-position: 0 -278px;
}
.category-open {
  background-color: #acd8ad;
  color: #fff;
  width: 71px;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-pizza .category-heading {
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 63px;
}

.category-salads .category-heading {
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 74px;
}

.category-desserts .category-heading {
  padding-top: 26px;
  padding-bottom: 28px;
  padding-left: 83px;
}

.fa-chevron-right {
  margin-top: -4px;
  font-size: 13px;
}

/* Main content */
.main-content {
  padding-top: 23px;
}
.main-content-logo {
  display: none;
}
.main-content-heading {
  font-family: "Lato-Regular", sans-serif;
  font-size: 20px;
  color: #3F4043;
  text-transform: uppercase;
  padding-left: 8px;
}
.main-content-sub-heading {
  font-family: "Lato-Regular", sans-serif;
  font-size: 10px;
  color: #cbccce;
  padding-top: 2px;
  padding-left: 10px;
}

.food-menu-category-dark {
  margin-top: 11px;
}

.food-menu-category-dark .food-menu-category-item {
  background-color: #3F4043;
  color: #acd8ad;
  font-family: "Lato-Regular", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  padding: 8px 18px 9px;
}

.food-list {
  padding-top: 17px;
}
.food-list-category {
  font-family: "Lato-Regular", sans-serif;
  color: #3F4043;
  font-size: 15px;
  text-transform: uppercase;
  padding-bottom: 11px;
}
.food-list-uniq-icon {
  background-image: url(../img/grill.png);
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
  top: -6px;
}
.food-list-item {
  padding-top: 10px;
}
.food-list-dish {
  display: flex;
  justify-content: space-between;
}
.food-list-name {
  font-family: "Lato-Regular", sans-serif;
  font-size: 13.5px;
}
.food-list-price {
  font-family: "Lato-Bold", sans-serif;
  font-size: 13.5px;
}
.food-list-description {
  font-family: "Lato-Regular", sans-serif;
  font-size: 9px;
  padding-top: 7px;
  letter-spacing: 0.01px;
  line-height: 10px;
}

.food-list .container {
  padding-right: 17px;
  padding-left: 17px;
}

.dishes-menu,
.vine-menu,
.coffee-menu,
.beer-menu {
  position: relative;
}

.drinks-category {
  padding-top: 21px;
}

.vine-menu .food-list-icon {
  position: absolute;
  right: 6px;
  top: 17px;
  font-size: 24px;
  color: #acd8ad;
}

.food-menu-category-light {
  margin-top: 31px;
}

.food-menu-category-light .food-menu-category-item {
  color: #fff;
  background-color: #acd8ad;
  font-family: "Lato-Regular", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  padding: 8px 18px 9px;
}

.food-list-coffee {
  position: absolute;
  right: -2px;
  top: -7px;
  font-size: 25px;
  color: #acd8ad;
}

.coffee-menu .food-list-category {
  padding-left: 1px;
}

.beer-menu .food-list-category {
  font-size: 15.1px;
}

.beer-menu .food-list-icon {
  position: absolute;
  right: 5px;
  top: 15px;
  font-size: 24px;
  color: #acd8ad;
}

/* Footer */
.footer {
  background-color: #acd8ad;
  text-align: center;
  margin-top: 48px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.footer-logo {
  display: none;
}
.footer-text {
  color: #fff;
  font-size: 12px;
  font-family: "Montserrat-Regular", sans-serif;
  padding-left: 5px;
}
.footer-salads {
  color: #fff;
  font-size: 12px;
  font-family: "Montserrat-Regular", sans-serif;
  padding-top: 7px;
}

@media screen and (min-width: 321px) {
  .header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .category-item .category-heading {
    padding-left: 0;
    text-align: center;
  }

  .category {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (min-width: 640px) {
  .container,
  .food-list .container {
    padding-right: 38px;
    padding-left: 38px;
  }

  .main-nav-heading {
    font-size: 24px;
    padding-top: 26px;
  }
  .main-nav-burger {
    padding: 25px 26px 25px 27px;
  }
  .main-nav-burger-line {
    height: 4px;
    width: 29px;
    margin-bottom: 4px;
  }
  .main-nav-menu {
    top: 74px;
  }
  .main-nav-link {
    font-size: 14px;
    padding: 21px 130px 21px 27px;
  }

  .main-nav-menu-item:first-child .main-nav-link {
    padding-top: 20px;
  }

  .header {
    background-image: url("../img/header-bg-640.jpeg");
    padding-top: 30px;
    padding-bottom: 200px;
  }
  .header-heading {
    font-size: 36px;
  }
  .header-sub-heading {
    font-size: 36px;
    padding-top: 2px;
  }
  .header-link {
    font-size: 24px;
    padding-top: 22px;
  }

  .categories {
    padding-top: 5px;
  }

  .category {
    width: calc(100% - 142px);
    margin-top: 2px;
  }
  .category-item {
    display: flex;
  }
  .category-pizza {
    background-image: url("../img/category-1-640.jpeg");
  }
  .category-salads {
    background-image: url("../img/category-2-640.jpeg");
  }
  .category-desserts {
    background-image: url("../img/category-3-640.jpeg");
  }
  .category-open {
    width: 142px;
    margin-top: 2px;
  }

  .category-item .category-heading {
    font-size: 36px;
    padding-top: 59px;
    padding-bottom: 58px;
  }

  .fa-chevron-right {
    font-size: 22px;
  }

  .main-content {
    padding-top: 45px;
  }
  .main-content-heading {
    font-size: 40px;
    padding-left: 20px;
  }
  .main-content-sub-heading {
    font-size: 20px;
    padding-top: 9px;
    padding-left: 20px;
  }

  .food-menu-category-dark {
    margin-top: 20px;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .food-menu-category-dark .food-menu-category-item {
    font-size: 40px;
  }

  .food-list {
    padding-top: 38px;
  }
  .food-list-category {
    font-size: 30px;
  }
  .food-list-uniq-icon {
    width: 49px;
    height: 49px;
    background-size: cover;
  }
  .food-list-item {
    padding-top: 35px;
  }
  .food-list-name {
    font-size: 27px;
  }
  .food-list-price {
    font-size: 27px;
  }
  .food-list-description {
    font-size: 17.5px;
    padding-top: 16px;
    line-height: 19px;
  }

  .drinks-category {
    padding-top: 45px;
  }

  .vine-menu .food-list-icon {
    font-size: 48px;
    top: 37px;
  }

  .food-menu-category-light {
    margin-top: 40px;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .food-menu-category-light .food-menu-category-item {
    font-size: 40px;
  }

  .food-list-coffee {
    font-size: 49px;
  }

  .beer-menu .food-list-category {
    font-size: 30px;
  }

  .beer-menu .food-list-icon {
    font-size: 49px;
    top: 37px;
  }

  .footer {
    margin-top: 120px;
    padding-top: 28px;
    padding-bottom: 23px;
  }
  .footer-text {
    font-size: 18px;
  }
  .footer-salads {
    font-size: 18px;
    padding-top: 13px;
  }
}
@media screen and (min-width: 980px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
    box-sizing: border-box;
  }

  .main-nav {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .main-nav-logo {
    display: block;
  }
  .main-nav-heading {
    display: none;
  }
  .main-nav-menu {
    display: flex;
    position: static;
  }
  .main-nav-menu-item {
    background-color: transparent;
    border-top: none;
    align-self: center;
    padding-left: 16px;
    padding-right: 16px;
  }
  .main-nav-menu-item:first-child {
    padding-left: 0;
  }
  .main-nav-menu-item:last-child {
    padding-right: 0;
  }
  .main-nav-link {
    color: #EBEBEB;
    padding: 0;
    text-transform: uppercase;
    font-size: 15px;
  }
  .main-nav-burger {
    display: none;
  }

  .main-nav .container {
    display: flex;
    justify-content: space-between;
  }

  .main-nav-menu-item:first-child .main-nav-link {
    padding-top: 0;
  }

  .header {
    background-image: url("../img/header-bg-980.jpeg");
    padding-top: 65px;
    padding-bottom: 260px;
  }
  .header-heading {
    font-size: 54px;
    line-height: 60px;
    padding-left: 0;
  }
  .header-sub-heading {
    font-size: 54px;
    padding-top: 0;
    line-height: 60px;
    padding-left: 0;
  }
  .header-link {
    font-size: 34px;
    padding-top: 57px;
    padding-left: 0;
  }

  .categories {
    display: flex;
    padding-top: 6px;
  }

  .category {
    width: 100%;
    margin-top: 0;
  }
  .category-item {
    display: block;
    width: 33.3333334%;
  }
  .category-pizza {
    background-image: url("../img/category-1-980.jpeg");
  }
  .category-salads {
    background-image: url("../img/category-2-980.jpeg");
  }
  .category-desserts {
    background-image: url("../img/category-3-980.jpeg");
  }
  .category-open {
    display: none;
  }

  .category-item .category-heading {
    font-size: 38px;
    padding-top: 145px;
    padding-bottom: 145px;
  }

  .main-content {
    padding-top: 50px;
  }
  .main-content-header {
    display: flex;
    justify-content: space-between;
  }
  .main-content-heading {
    font-size: 34px;
    padding-top: 22px;
    padding-left: 30px;
  }
  .main-content-sub-heading {
    padding-top: 10px;
    padding-left: 30px;
  }
  .main-content-logo {
    display: block;
  }
  .main-content-logo-img {
    padding-right: 30px;
  }
  .main-content-body {
    display: flex;
  }

  .food-menu-category-dark,
  .food-menu-category-light {
    padding-top: 20px;
    margin-top: 0;
  }

  .food-menu-category-dark .food-menu-category-item,
  .food-menu-category-light .food-menu-category-item {
    font-size: 34px;
    padding-top: 22px;
    padding-bottom: 19px;
  }

  .food-list-category {
    font-size: 26px;
  }
  .food-list-uniq-icon {
    height: 42px;
    width: 42px;
  }
  .food-list-name {
    font-size: 24px;
  }
  .food-list-price {
    font-size: 24px;
  }
  .food-list-description {
    font-size: 16px;
    padding-left: 5px;
  }
  .food-list-coffee {
    font-size: 45px;
  }

  .food-list .container {
    padding-right: 14px;
    padding-left: 19px;
  }

  .vine-menu .food-list-icon {
    font-size: 42px;
  }

  .beer-menu .food-list-category {
    font-size: 24px;
  }

  .beer-menu .food-list-icon {
    font-size: 45px;
  }

  .footer {
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .footer-logo {
    display: block;
    padding-left: 30px;
  }
  .footer-text {
    padding-left: 0;
  }
  .footer-text-block {
    display: flex;
    padding-right: 30px;
  }
  .footer-salads {
    padding-top: 0;
    padding-left: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-right: 37px;
    padding-left: 37px;
  }

  .header {
    background-image: url("../img/header-bg-1200.jpeg");
    padding-top: 58px;
    padding-bottom: 380px;
  }
  .header-heading {
    font-size: 62px;
  }
  .header-sub-heading {
    font-size: 62px;
  }
  .header-link {
    font-size: 38px;
    padding-top: 53px;
  }

  .category-item .category-heading {
    font-size: 43px;
    padding-top: 179px;
    padding-bottom: 179px;
  }

  .main-content {
    padding-top: 41px;
  }
  .main-content-heading {
    font-size: 40px;
    padding-top: 36px;
    padding-left: 22px;
  }
  .main-content-sub-heading {
    padding-left: 22px;
  }
  .main-content-logo-img {
    padding-right: 12px;
  }

  .food-menu-category-dark .food-menu-category-item,
  .food-menu-category-light .food-menu-category-item {
    font-size: 40px;
    padding-top: 19px;
    padding-bottom: 16px;
  }

  .food-list-category {
    font-size: 30px;
  }
  .food-list-name {
    font-size: 27px;
  }
  .food-list-price {
    font-size: 27px;
  }
  .food-list-description {
    font-size: 17.5px;
  }
  .food-list-uniq-icon {
    width: 49px;
    height: 48px;
  }
  .food-list-coffee {
    font-size: 49px;
  }

  .vine-menu .food-list-icon {
    font-size: 48px;
  }

  .beer-menu .food-list-category {
    font-size: 30px;
  }

  .beer-menu .food-list-icon {
    font-size: 49px;
  }

  .footer {
    margin-top: 130px;
  }
  .footer-logo {
    padding-left: 37px;
  }
  .footer-text-block {
    padding-right: 38px;
  }
}

/*# sourceMappingURL=style.css.map */
